<div class="container d-flex justify-content-center align-items-center my-5">
  <mat-card class="password-card">

    <div class="text-center mb-4">
      <mat-icon class="header-icon">network_locked</mat-icon>
      
      <h2 class="title">Change Password</h2>
      <p class="subtitle">Keep your account secure</p>
    </div>

    <form [formGroup]="changePassword" (ngSubmit)="formSubmit()">
      <!-- Current Password -->
      <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
        <mat-label>Current Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>

        <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentpassword" appNoPaste>

        <button mat-icon-button matSuffix type="button" (click)="hideCurrent = !hideCurrent">
          <mat-icon>
            {{ hideCurrent ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
        <mat-error *ngIf="isSubmitted && changePassword.get('currentpassword')?.hasError('required')">
        Current password is required
      </mat-error>
      </mat-form-field>



      <!-- New Password -->
      <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
        <mat-label>New Password</mat-label>
        <mat-icon matPrefix>lock_reset</mat-icon>

        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newpassword" appNoPaste>

        <button mat-icon-button matSuffix type="button" (mousedown)="$event.preventDefault()"
          (click)="hideNew = !hideNew">
          <mat-icon>
            {{ hideNew ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>

        <mat-error *ngIf="isSubmitted && changePassword.get('newpassword')?.hasError('required')">
          New password is required
        </mat-error>
        <mat-error *ngIf="changePassword.get('newpassword')?.hasError('minlength')">
          Minimum 8 characters required
        </mat-error>
        <mat-error *ngIf="changePassword.get('newpassword')?.hasError('pattern')">
          Password contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character and consecutive number not allowed
        </mat-error>
      </mat-form-field>


      <!-- Confirm Password -->
      <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
        <mat-label>Confirm Password</mat-label>
        <mat-icon matPrefix>check_circle</mat-icon>

        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmpassword" appNoPaste>

        <button mat-icon-button matSuffix type="button" (mousedown)="$event.preventDefault()"
          (click)="hideConfirm = !hideConfirm">
          <mat-icon>
            {{ hideConfirm ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>

         <mat-error *ngIf="isSubmitted && changePassword.get('confirmpassword')?.hasError('required')">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="changePassword.get('confirmpassword')?.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>


      <button mat-raised-button class="save-btn mt-4" type="submit">
        Update Password
      </button>

    </form>
  </mat-card>
</div>