
<h2 mat-dialog-title style="background-color: #c1ddff; color: #1d55a1;">
    Change Password
</h2>

<div mat-dialog-content class="dialog-wrap p-4">
    <form [formGroup]="forceChangePassword" (ngSubmit)="formSubmit()" style="margin-top: 20px;">
        <div class="row align-items-center">
            <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                <mat-label>Current Password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentpassword" appNoPaste>
                <button mat-icon-button matSuffix type="button" (click)="hideCurrent = !hideCurrent">
                    <mat-icon>
                        {{ hideCurrent ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error *ngIf="isSubmitted && forceChangePassword.get('currentpassword')?.hasError('required')">
                    Current password is required
                </mat-error>
            </mat-form-field>
            <!-- New Password -->
            <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                <mat-label>New Password</mat-label>
                <mat-icon matPrefix>lock_reset</mat-icon>

                <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newpassword" appNoPaste>

                <button mat-icon-button matSuffix type="button" (mousedown)="$event.preventDefault()"
                    (click)="hideNew = !hideNew">
                    <mat-icon>
                        {{ hideNew ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                <mat-error *ngIf="isSubmitted && forceChangePassword.get('newpassword')?.hasError('required')">
                    New password is required
                </mat-error>
                <mat-error *ngIf="forceChangePassword.get('newpassword')?.hasError('minlength')">
                    Minimum 8 characters required
                </mat-error>
                <mat-error *ngIf="forceChangePassword.get('newpassword')?.hasError('pattern')">
                    Password contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number
                    and 1 Special Character and consecutive number not allowed
                </mat-error>
            </mat-form-field>


            <!-- Confirm Password -->
            <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                <mat-label>Confirm Password</mat-label>
                <mat-icon matPrefix>check_circle</mat-icon>

                <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmpassword" appNoPaste>

                <button mat-icon-button matSuffix type="button" (mousedown)="$event.preventDefault()"
                    (click)="hideConfirm = !hideConfirm">
                    <mat-icon>
                        {{ hideConfirm ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                <mat-error *ngIf="isSubmitted && forceChangePassword.get('confirmpassword')?.hasError('required')">
                    Confirm password is required
                </mat-error>
                <mat-error *ngIf="forceChangePassword.get('confirmpassword')?.hasError('passwordMismatch')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <div class="text-end mt-3" mat-dialog-actions align="end">
                <button mat-raised-button color="primary" type="submit" class="btn-glow btn-blue"
                    [disabled]="forceChangePassword.invalid">
                    Submit
                </button>
                <button mat-button mat-dialog-close (click)="close()" class="btn-glow btn-red">Close</button>
            </div>
        </div>
    </form>
</div>