


<app-header></app-header>
<div class="screen-reader-wrapper container my-5">

  <h5>Screen Reader Access</h5>
  <p>
    This website enables people with visual impairments to access the website
    using assistive technologies such as screen readers.
  </p>

  <div class="table-title">
    Various Screen Readers to choose from
  </div>
        <div class="mat-elevation-z8 table-responsive tbl " style="border: 1px solid #dddddd !important; box-shadow: none !important;
    border-radius: 10px !important;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <!-- S.No -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let row"> {{ row.sno }} </td>
    </ng-container>

    <!-- Screen Reader -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Screen Reader </th>
      <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>

    <!-- Website Link -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Website Links </th>
      <td mat-cell *matCellDef="let row" matTooltip=" {{row.name}} :  Click to Open official website in a new tab">
        <a [href]="row.link" target="_blank" rel="noopener" >
          {{ row.link }}
        </a>
      </td>
    </ng-container>

    <!-- Free / Commercial -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Free / Commercial </th>
      <td mat-cell *matCellDef="let row">
        <span
          class="badge"
          [ngClass]="row.type === 'Free' ? 'badge-free' : 'badge-commercial'">
          {{ row.type }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  </div>
</div>


<app-layout-footer></app-layout-footer>