.custom-panel .mat-expansion-panel-header {
  background-color: #064381;
  /* light blue */

}

.custom-panel .mat-expansion-panel-header:hover {
  background-color: #2573c2;
  /* light blue */

}

.custom-panel .mat-expansion-panel-header-title {
  color: #fff !important;
}


.custom-panel {
  margin-bottom: 1px;
}


.left-glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.left-glass h3 {
  font-weight: 700;
  line-height: 1.2;
}

.left-glass span {
  color: #ffd43b;
}

.left-glass p {
  margin-top: 15px;
  opacity: 0.9;
}

/* CIRCLE LAYOUT */
.circle-wrapper {
  position: relative;
  width: 420px;
  height: 420px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #0d6efd, #003a8f);
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.15),
    0 30px 60px rgba(0, 0, 0, 0.35);
}

/* CENTER */
.circle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #003a8f;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.logo-icon {
  width: 80px;
  height: 80px;
  background-color: rgb(192 218 228);
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: -17px;
}

.logo-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 3;
}


.logo-area h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
}

.glass-caption {
  background: #0039758c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
  position: absolute;
  bottom: 37px;

}

/* Text polish */
.glass-caption h3 {
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 0px;
  font-size: 30px;
}

.glass-caption p {
  font-size: 0.95rem;
  opacity: 0.9;
}
 .carousel-control-prev,
        .carousel-control-next {
            width: 60px;
            height: 60px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
            transition: all 0.3s ease;
        }
                .carousel-control-prev {
            left: 20px;
        }

        .carousel-control-next {
            right: 20px;
        }

.faq{
    min-height: 484px;
    max-height: 484px;
    overflow-y: auto;
    background: white;
    border-radius: 24px;
    padding: 40px;
    box-shadow: 0 8px 24px rgba(26, 58, 82, 0.12) !important;
    border: 1px solid #e2e8f0;
        }