<main id="main">
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" style="border-bottom: 3px solid #9dccff;">
        <div class="carousel-inner">
            <div class="carousel-item-banner active"
                style="background-image: url('../assets/images/slider/slider_1.jpg');">
                <div class="carousel-caption py-3  glass-caption">
                    <h3>Write to Rural Development Minister</h3>
                    <p class="mb-0">Your Voice, Direct to Government of India</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev"><span
                class="carousel-control-prev-icon"></span></button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next"><span
                class="carousel-control-next-icon"></span></button>
    </div>
    <div class="container-fluid">
        <section>
            <div class="row gy-4 py-3" style="display: flex; justify-content: space-between;">
                <div class="col-lg-6">
                    <img src="/assets/images/process.jpg" alt="Cartoon Woman" class="img-fluid" draggable="false">

                </div>
                <div class="col-lg-5 ">
                    <section class="card p-1 shadow-sm">
                        <div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of images; let i = index"
                                    [class.active]="i === 0">
                                    <img [src]="'../assets/images/gallery/' + img" class="d-block w-100 rounded"
                                        [alt]="'Gallery image ' + (i + 1)" draggable="false" (click)="openZoom(i)"
                                        matTooltip="Click to view full screen">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class="card p-3 shadow-sm" style="background-color: aliceblue; border-color: #acd8ff;">
            <header class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Our Schemes</h5>
            </header>

            <div class="carousel-wrapper">
                <div class="carousel-track">

                    <a *ngFor="let scheme of duplicatedSchemes" [href]="scheme.url" class="card scheme-card"
                        target="_blank">
                        <img [src]="'../assets/images/logo/' + scheme.logo" [alt]="scheme.name" draggable="false" />
                        <div class="card-body d-none d-md-block">
                            {{ scheme.title }}
                        </div>
                    </a>

                </div>
            </div>
        </section>

        <section class="hero-card p-5 rounded-3">
            <div class="row align-items-center g-4">
                <!-- Left: speech card -->
                <div class="col-md-5 col-lg-6 d-flex justify-content-center m-0">
                    <section class="card p-3 shadow-sm faq">
                        <header class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="mb-0">May I Help You?</h5>
                            <small class="text-muted">FAQs</small>
                        </header>
                        <mat-accordion>

                            <mat-expansion-panel [expanded]="true" class="custom-panel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        How I can register the grievance?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ol>
                                    <li>The citizen shall visit the <strong>“Write to RD Minister”</strong> Portal.</li>
                                    <li>The citizen shall click on <strong>Citizen Registration</strong> and complete
                                        the
                                        registration form in all respects.</li>
                                    <li>After successful registration, the citizen shall navigate to the
                                        <strong>Login</strong>
                                        page.
                                    </li>
                                    <li>The citizen shall select the <strong>Citizen</strong> option and enter the
                                        registered
                                        mobile number.</li>
                                    <li>The citizen shall enter the <strong>One-Time Password (OTP)</strong> received on
                                        the
                                        registered mobile number and click on <strong>Verify</strong>.</li>
                                    <li>Upon successful login, the citizen shall click on <strong>Register
                                            Grievance</strong>,
                                        fill in the grievance details, and upload supporting documents, if any.</li>
                                    <li>The citizen shall submit the grievance by clicking on the
                                        <strong>Submit</strong>
                                        button.
                                    </li>
                                    <li>On successful submission, the grievance shall be registered in the system.</li>
                                    <li>The citizen may download the <strong>acknowledgement PDF</strong> for future
                                        reference
                                        and tracking of the grievance.</li>
                                </ol>
                            </mat-expansion-panel>

                            <mat-expansion-panel class="custom-panel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        How do I track my grievance status?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <ol>
                                    <li>The citizen shall visit the <strong>Write to RD Minister</strong>Portal.</li>
                                    <li>The citizen shall navigate to the<strong>Login</strong>page.</li>
                                    <li>The citizen shall select the <strong>Citizen</strong> option and enter the
                                        registered
                                        mobile number.</li>
                                    <li>The citizen shall enter the <strong>One-Time Password (OTP)</strong> received on
                                        the
                                        registered mobile number and click on <strong>Verify</strong>.</li>
                                    <li>Upon successful login, the citizen shall select the option <strong>Track
                                            Grievance
                                            Status</strong>.</li>
                                    <li>The current status of the registered grievance shall be displayed on the screen.
                                    </li>
                                    <li>The citizen may view and download the grievance details for future reference, if
                                        required.</li>
                                </ol>
                                <span>(<b>Note</b>-The accuracy of translation depends on the availability and quality
                                    of
                                    Bhashini language models for the selected language.)</span>

                            </mat-expansion-panel>

                            <mat-expansion-panel class="custom-panel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        How do I change the language using Bhashini?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <ol>
                                    <li>Open the application/portal where <strong>Bhashini</strong> is integrated.</li>
                                    <li>Click on the <strong>Language Selection</strong> or <strong>Bhashini</strong>
                                        icon
                                        available on the screen.</li>
                                    <li>Choose your preferred language from the list of supported Indian languages.</li>
                                    <li>Once selected, the content will be automatically translated and displayed in the
                                        chosen
                                        language using <strong>Bhashini</strong> services.</li>
                                    <li>You can switch back or change to another language anytime by repeating the same
                                        steps.
                                    </li>
                                </ol>

                            </mat-expansion-panel>

                            <mat-expansion-panel class="custom-panel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        If citizen is not satisfied with the grievance status / solution?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ol>
                                    <li>In case the citizen is not satisfied with the grievance redressed provided, the
                                        citizen
                                        may log in to the <strong>Write to RD Minister</strong> Portal using the
                                        registered
                                        mobile number.</li>
                                    <li>After successful login, the citizen shall view the grievance details under
                                        <strong>Track
                                            Grievance Status.</strong>
                                    </li>
                                    <li>The citizen may select the option <strong>Not Satisfied / Reopen Grievance
                                        </strong>(as
                                        available on the portal).</li>
                                    <li>The citizen shall provide remarks or reasons for dissatisfaction and may upload
                                        supporting documents, if required.</li>
                                    <li>The grievance shall be reopened/escalated to the concerned authority for further
                                        examination and necessary action.</li>
                                    <li>The revised status of the grievance shall be communicated to the citizen through
                                        the
                                        portal and/or registered mobile number.</li>
                                </ol>

                            </mat-expansion-panel>

                        </mat-accordion>
                    </section>
                </div>

                <!-- Center: big image (your uploaded image) -->
                <div class="col-md-7 col-lg-6 text-center d-flex justify-content-center">
                    <div class="right-box">
                        <div class="circle"></div>
                        <div class="steps">
                            <div class="step step1">
                                1<br>
                                Open Write to RD Minister portal.
                            </div>
                            <div class="step step2">
                                2<br>
                                Click Citizen Registration.
                            </div>
                            <div class="step step3">
                                3<br>
                                Fill the registration form and submit.
                            </div>
                            <div class="step step4">
                                4<br>
                                Go to Login With Citizen option.
                            </div>
                            <div class="step step5">
                                5<br>
                                Enter Registered mobile number.
                            </div>
                            <div class="step step6">
                                6<br>
                                Enter OTP received on Registered mobile Number and verify.
                            </div>
                            <div class="step step7">
                                7<br>
                                Click Register Grievance.
                            </div>
                            <div class="step step8">8<br>Fill the grievance form and upload documents.
                            </div>
                            <div class="step step9">
                                9<br>
                                Click Submit.
                            </div>
                            <div class="step step10">
                                10<br>
                                Download the PDF for further tracking with grievance No.
                            </div>
                        </div>
                        <div class="logo-area">
                            <!-- <div class="logo-icon">
                            <img class="" src="assets/images/logo_wtm.png" alt="">
                        </div> -->
                            <h2 style="color: white;">Steps to Register<br>
                                Grievance?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- ZOOM MODAL -->
<div *ngIf="selectedIndex !== null" class="zoom-overlay">

    <!-- Close Button -->
    <button class="zoom-close" (click)="closeZoom()">×</button>

    <!-- Carousel -->
    <div id="zoomCarousel" class="carousel slide w-100 h-100">

        <div class="carousel-inner h-100 d-flex align-items-center">

            <div class="carousel-item" *ngFor="let img of images; let i = index" [class.active]="i === selectedIndex">

                <div class="d-flex justify-content-center align-items-center h-100">
                    <img [src]="'../assets/images/gallery/' + img" class="zoom-image">
                </div>

            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#zoomCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#zoomCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>
</div>