
.custom-panel .mat-expansion-panel-header {
  background-color: #064381; /* light blue */

}

.custom-panel .mat-expansion-panel-header:hover {
  background-color: #2573c2; /* light blue */

}

.custom-panel .mat-expansion-panel-header-title{
    color: #fff !important;
}


.custom-panel {
    margin-bottom: 1px;
}

