<h5 class="dialog-title">Grievance Overview
  <span mat-dialog-close class="close">Close</span>
</h5>
<mat-dialog-content class="dialog-layout">
  <div class="d-flex justify-content-end"><button mat-raised-button color="primary" class="btn-glow btn-green"
      (click)="printDialog()" matTooltip="Print PDF in landscape layout">
     <i class="fa-solid fa-print"></i> Print
    </button></div>
  <div id="print-section">
    <div class="card citizen-card">
      <div class="card-header">
        <h5>Citizen Details</h5>
        <div><span>Grievance Status</span> :
          <span class="status" [ngClass]="{
              'completed': grievancedetails.status === 'C',
              'pending': grievancedetails.status === 'U',
            }">{{ grievancedetails.status === 'U' ? 'Under-Process' : grievancedetails.status === 'C' ? 'Complete' :
            grievancedetails.status }}</span>
        </div>

      </div>

      <div class="card-body">
        <div class="row detail-row">
          <div class="col-md-4">
            <div class="box">
              <label>Name</label> <span>:</span>
              <p>{{ citizendetails?.name }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Father / Husband Name</label> <span>:</span>
              <p>{{ citizendetails?.fatherHusbandName }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Gender</label> <span>:</span>
              <p>{{ citizendetails?.gender === 'M' ? 'Male' : 'Female' }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Mobile No</label> <span>:</span>
              <p>{{ citizendetails?.mobileNo }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>State</label> <span>:</span>
              <p>{{ citizendetails?.stateName }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>District</label> <span>:</span>
              <p>{{ citizendetails?.districtName }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Block</label> <span>:</span>
              <p>{{ citizendetails?.blockName }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Panchayat</label> <span>:</span>
              <p>{{ citizendetails?.panchayatName }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Village</label> <span>:</span>
              <p>{{ citizendetails?.villageName }}</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <label>Pin Code</label> <span>:</span>
              <p>{{ citizendetails?.pinCode }}</p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="box">
              <label>Address</label> <span>:</span>
              <p>{{ citizendetails?.address }}</p>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="row-table table-responsive mt-3">
      <h6 class="title mb-1">Grievance Details</h6>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive tbl ">

        <ng-container matColumnDef="grievanceId">
          <th mat-header-cell *matHeaderCellDef> Grievance ID </th>
          <td mat-cell *matCellDef="let element"> {{element.grievanceNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="schemeName">
          <th mat-header-cell *matHeaderCellDef> Scheme </th>
          <td mat-cell *matCellDef="let element"> {{element.schemeName}} </td>
        </ng-container>
        <ng-container matColumnDef="ministryName">
          <th mat-header-cell *matHeaderCellDef> Ministry </th>
          <td mat-cell *matCellDef="let element"> {{element.ministryName}} </td>
        </ng-container>

        <ng-container matColumnDef="stateName">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
        </ng-container>

        <ng-container matColumnDef="districtName">
          <th mat-header-cell *matHeaderCellDef> District </th>
          <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
        </ng-container>

        <ng-container matColumnDef="blockNameName">
          <th mat-header-cell *matHeaderCellDef> Block </th>
          <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
        </ng-container>

        <ng-container matColumnDef="villageName">
          <th mat-header-cell *matHeaderCellDef> Village </th>
          <td mat-cell *matCellDef="let element"> {{element.villageName}} </td>
        </ng-container>

        <ng-container matColumnDef="panchayatName">
          <th mat-header-cell *matHeaderCellDef> Panchayat </th>
          <td mat-cell *matCellDef="let element"> {{element.villageName}} </td>
        </ng-container>

        <ng-container matColumnDef="pinCode">
          <th mat-header-cell *matHeaderCellDef> Pin Code </th>
          <td mat-cell *matCellDef="let element"> {{element.pinCode}} </td>
        </ng-container>


        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="desc-col"> Description (Source language) </th>
          <td mat-cell *matCellDef="let element" class="desc-col"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="Transcript">
          <th mat-header-cell *matHeaderCellDef class="desc-col"> Translated Transcript </th>
          <td mat-cell *matCellDef="let element" class="desc-col"> {{element.translatedDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="attachment">
          <th mat-header-cell *matHeaderCellDef> Attachment </th>

          <td mat-cell *matCellDef="let element">
            <!-- If file exists -->
            <ng-container *ngIf="element.fileName && element.fileName !== 'No File Attached'; else noPdf">
              <a href="javascript:void(0)" title="{{ element.fileName }}" (click)="openAttachment(element.fileName)"
                matTooltip="View File">
                <i class="bi bi-download pdfIcon"></i>
              </a>
              <!-- <button style="background-color: #0d5db940;" mat-icon-button color="primary"
                                        type="button" aria-label="Preview file" (click)="previewSelectedFile(element.fileName)"
                                        matTooltip="Close">
                                        <mat-icon>visibility</mat-icon>
                                    </button> -->
            </ng-container>
    

            <!-- Else part -->
            <ng-template #noPdf>
              <span>No File Attached</span>
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>


    <h6 class="title mt-3 mb-1">Grievance Status</h6>

    <div class="">

      <!-- Chat Data Available -->
      <!-- <ng-container *ngIf="chatData?.length > 0; else noData && chatData?.officerAction?.status ==='C' "> -->
      <ng-container *ngIf="chatData?.length > 0 && chatData[0]?.officerAction?.status === 'C'; else noData">
        <div class="chat-container">
          <ng-container *ngFor="let item of chatData">

            <!-- Officer Message -->
            <div class="chat-message left">
              <div class="bubble officer">

                <div class="usename">
                  <strong>{{ item.officerAction?.commentedBy }}</strong>

                  <span class="status" [ngClass]="{
                  'completed': item.officerAction?.status === 'C',
                  'pending': item.officerAction?.status === 'U'
                }">
                    {{
                    item.officerAction?.status === 'U'
                    ? 'Under-Process'
                    : item.officerAction?.status === 'C'
                    ? 'Complete'
                    : item.officerAction?.status
                    }}
                  </span>
                </div>

                <p>{{ item.officerAction?.comments }}</p>
                <small>
                  {{ item.officerAction?.commentedOn | date:'dd MMM yyyy, hh:mm a' }}
                </small>
                <div class="file"
                  *ngIf="item.officerAction.fileName && item.officerAction.fileName !== 'No File Attached'">


                  <a href="javascript:void(0)" title="{{ item.officerAction.fileName }}"
                    (click)="openAttachment(item.officerAction.fileName)" matTooltip="View File">
                    <i class="bi bi-download pdfIcon"></i>
                  </a>
                </div>

              </div>
            </div>

            <!-- Citizen Message -->
            <div class="chat-message right" *ngIf="item?.citizenFeedback?.comments">
              <div class="bubble citizen">

                <div class="usename">
                  <strong>{{ citizendetails?.name }}</strong>

                  <span class="status" [ngClass]="{
                  'completed': item.citizenFeedback?.status === 'S',
                  'pending': item.citizenFeedback?.status === 'US'
                }">
                    {{
                    item.citizenFeedback?.status === 'S'
                    ? 'Satisfied'
                    : item.citizenFeedback?.status === 'US'
                    ? 'Unsatisfied'
                    : item.citizenFeedback?.status
                    }}
                  </span>
                </div>
                <p>{{ item.citizenFeedback?.comments }}</p>
                <small>{{item.citizenFeedback?.feddbackSubmittedOn | date:'dd MMM yyyy, hh:mm a'}}</small>
              </div>
            </div>

          </ng-container>
        </div>
      </ng-container>

      <!-- No Data -->
      <ng-template #noData>
        <span class="status in-progress" style="max-width: 100%;
    margin: auto;
    padding: 15px;
    background: #f6fbff;
    border: 1px solid #ccdde1;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;">
          Your grievance is under process and is being reviewed by the concerned authority.
        </span>
      </ng-template>

    </div>




    <form [formGroup]="feedbackForm"
      *ngIf="hasSatisfied?.citizenFeedback?.status !== 'S' && hasSatisfied?.officerAction?.status !== 'C' && grievanceStatus === 'C'"
      class="m-0 p-0 mt-3">

      <!-- Feedback -->
      <div class="mb-3">
        <label class="form-label">Your Feedback</label>
        <textarea class="form-control" rows="3" formControlName="feedback" placeholder="Enter your feedback"></textarea>

        <small class="text-muted d-block text-end">
          {{ feedbackForm.get('feedback')?.value?.length || 5 }} / 1000
        </small>
        <mat-error *ngIf="(f['feedback'].touched || isSubmitted) && f['feedback'].invalid">

          <span *ngIf="f['feedback'].errors?.['required']">
            Comments are required
          </span>

          <span *ngIf="f['feedback'].errors?.['minlength']">
            Comments must be at least 5 characters
          </span>
        </mat-error>
      </div>

      <!-- Satisfied Dropdown -->
      <div class="row mb-3 align-items-end">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Are you satisfied?</mat-label>
            <mat-select formControlName="satisfiedStatus" (selectionChange)="selectedSatisfied($event)">
              <mat-option *ngFor="let status of officeStatusDetails" [value]="status.statusCode">
                {{ status.status}}</mat-option>
            </mat-select>
            <mat-error *ngIf="feedbackForm.get('satisfiedStatus')?.touched &&
                                feedbackForm.get('satisfiedStatus')?.invalid">
              Please select status
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-dialog-actions>

        <button mat-raised-button (click)="submitFeedback()" class=" btn-glow btn-blue "> Submit
        </button>
        <button mat-raised-button color="primary" [mat-dialog-close]="'reload'" class="btn-glow btn-red">
          Close
        </button></mat-dialog-actions>

    </form>

  </div>

</mat-dialog-content>

<ng-template #previewDialog let-data>
  <h2 mat-dialog-title>File Preview</h2>
  <mat-dialog-content>
    <iframe [src]="data.url" width="100%" height="500px"></iframe>
  </mat-dialog-content>
</ng-template>