    <h5 class="dialog-title">Grievance Overview  <span mat-dialog-close class="close">X</span>
</h5>
<div class="card citizen-card" style="width: 96%;
    margin: 0 auto;
    margin-top: 20px;
        background-color: #f6fbff;
    border: 1px solid #a6d5fa;
">
  <div class="card-header">
    <h5>Citizen Details</h5>
    <div><span>Grievance Status</span> :
                <span class="status" [ngClass]="{
              'completed': grievancedetails.status === 'C',
              'pending': grievancedetails.status === 'U',
            }">{{ grievancedetails.status === 'U' ? 'Under-Process' : grievancedetails.status === 'C' ? 'Complete' :
                    grievancedetails.status }}</span>

            </div>

  </div>

  <div class="card-body">
    <div class="row detail-row">
      <div class="col-md-4">
        <div class="box">
          <label>Name</label> <span>:</span>
          <p>{{ citizendetails?.name }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Father / Husband Name</label> <span>:</span>
          <p>{{ citizendetails?.fatherHusbandName }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Gender</label> <span>:</span>
          <p>{{ citizendetails?.gender === 'M' ? 'Male' : 'Female' }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Mobile No</label> <span>:</span>
          <p>{{ citizendetails?.mobileNo }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>State</label> <span>:</span>
          <p>{{ citizendetails?.stateName }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>District</label> <span>:</span>
          <p>{{ citizendetails?.districtName }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Block</label> <span>:</span>
          <p>{{ citizendetails?.blockName }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Panchayat</label> <span>:</span>
          <p>{{ citizendetails?.panchayatName }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Village</label> <span>:</span>
          <p>{{ citizendetails?.villageName }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <label>Pin Code</label> <span>:</span>
          <p>{{ citizendetails?.pinCode }}</p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="box">
          <label>Address</label> <span>:</span>
          <p>{{ citizendetails?.address }}</p>
        </div>
      </div>


    </div>
  </div>
</div>
<mat-dialog-content>
  <h6>Grievance Details</h6>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive tbl ">

    <ng-container matColumnDef="grievanceId">
      <th mat-header-cell *matHeaderCellDef> Grievance ID </th>
      <td mat-cell *matCellDef="let element"> {{element.grievanceNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="schemeName">
      <th mat-header-cell *matHeaderCellDef> Scheme Name </th>
      <td mat-cell *matCellDef="let element"> {{element.schemeName}} </td>
    </ng-container>
    <ng-container matColumnDef="ministryName">
      <th mat-header-cell *matHeaderCellDef> Ministry Name </th>
      <td mat-cell *matCellDef="let element"> {{element.ministryName}} </td>
    </ng-container>

    <ng-container matColumnDef="stateName">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
    </ng-container>

    <ng-container matColumnDef="districtName">
      <th mat-header-cell *matHeaderCellDef> District </th>
      <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
    </ng-container>

    <ng-container matColumnDef="blockNameName">
      <th mat-header-cell *matHeaderCellDef> Block Name </th>
      <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
    </ng-container>

    <ng-container matColumnDef="villageName">
      <th mat-header-cell *matHeaderCellDef> Village Name </th>
      <td mat-cell *matCellDef="let element"> {{element.villageName}} </td>
    </ng-container>

    <ng-container matColumnDef="panchayatName">
      <th mat-header-cell *matHeaderCellDef> Panchayat Name </th>
      <td mat-cell *matCellDef="let element"> {{element.villageName}} </td>
    </ng-container>

    <ng-container matColumnDef="pinCode">
      <th mat-header-cell *matHeaderCellDef> Pin Code </th>
      <td mat-cell *matCellDef="let element"> {{element.pinCode}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <!-- 
    <ng-container matColumnDef="attachment">
    <th mat-header-cell *matHeaderCellDef> Attachment </th>
    <td mat-cell *matCellDef="let element"> {{element.filePath}} </td>
  </ng-container> -->

    <ng-container matColumnDef="attachment">
      <th mat-header-cell *matHeaderCellDef> Attachment </th>

      <td mat-cell *matCellDef="let element">
        <!-- If file exists -->
        <ng-container *ngIf="element.fileName; else noPdf">
          <a href="javascript:void(0)"  title="{{ element.fileName }}" (click)="openAttachment(element.fileName)" matTooltip="View File">
           <i class="bi bi-download pdfIcon"></i>
          </a>
        </ng-container>

        <!-- Else part -->
        <ng-template #noPdf>
          <span>No PDF</span>
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

 <form
  [formGroup]="feedbackForm"
  *ngIf="grievanceStatus === 'C'"
  class="m-0 p-0 mt-3"
>

  <!-- Feedback -->
  <div class="mb-3">
    <label class="form-label">Your Feedback</label>
    <textarea
      class="form-control"
      rows="3"
      formControlName="feedback"
      placeholder="Enter your feedback"
    ></textarea>

    <small class="text-danger"
      *ngIf="feedbackForm.get('feedback')?.touched &&
             feedbackForm.get('feedback')?.invalid">
      Feedback is required
    </small>
  </div>

  <!-- Satisfied Dropdown -->
  <div class="row mb-3 align-items-end">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Are you satisfied?</mat-label>
        <mat-select formControlName="satisfiedStatus" (selectionChange)="selectedSatisfied($event)">
          <mat-option *ngFor="let status of officeStatusDetails" [value]="status.statusCode">
            {{ status.status}}</mat-option>
        </mat-select>
        <mat-error *ngIf="feedbackForm.get('satisfiedStatus')?.touched &&
                                feedbackForm.get('satisfiedStatus')?.invalid">
          Please select status
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions>

    <button mat-raised-button (click)="submitFeedback()" class=" btn-glow btn-blue "> Submit
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="'reload'" class="btn-glow btn-red">
      Close
    </button></mat-dialog-actions>

</form>

</mat-dialog-content>