    <h5 class="dialog-title">Grievance Overview & Action Taken <span mat-dialog-close class="close">X</span>
</h5>
    
    <mat-dialog-content class="dialog-layout">
     <!-- user-detail-section -->
    <div class="card citizen-card section-fixed">
        <div class="card-header">
            <h5>Citizen Details</h5>
            <div><span>Grievance Status</span> :
                <span class="status" [ngClass]="{
              'completed': grievancedetails.status === 'C',
              'pending': grievancedetails.status === 'U',
            }">{{ grievancedetails.status === 'U' ? 'Under-Process' : grievancedetails.status === 'C' ? 'Complete' :
                    grievancedetails.status }}</span>

            </div>


        </div>

        <div class="card-body">
            <div class="row detail-row">
                <div class="col-md-4">
                    <div class="box">
                        <label>Name</label> <span>:</span>
                        <p>{{ citizendetails?.name }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Father / Husband Name</label> <span>:</span>
                        <p>{{ citizendetails?.fatherHusbandName }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Gender</label> <span>:</span>
                        <p>{{ citizendetails?.gender }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Mobile No</label> <span>:</span>
                        <p>{{ citizendetails?.mobileNo }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>State</label> <span>:</span>
                        <p>{{ citizendetails?.stateName }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>District</label> <span>:</span>
                        <p>{{ citizendetails?.districtName }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Block</label> <span>:</span>
                        <p>{{ citizendetails?.blockName }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Panchayat</label> <span>:</span>
                        <p>{{ citizendetails?.panchayatName }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Village</label> <span>:</span>
                        <p>{{ citizendetails?.villageName }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <label>Pin Code</label> <span>:</span>
                        <p>{{ citizendetails?.pinCode }}</p>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="box">
                        <label>Address</label> <span>:</span>
                        <p>{{ citizendetails?.address }}</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
        <!-- table-section -->
        <div class="row-table section-fixed">
        <h6 class="title">Grievance Details</h6>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive tbl ">
            <ng-container matColumnDef="serialNo">
                <th mat-header-cell *matHeaderCellDef>Serial No. </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}
                </td>
            </ng-container>
            <ng-container matColumnDef="grievanceId">
                <th mat-header-cell *matHeaderCellDef> Grievance ID </th>
                <td mat-cell *matCellDef="let element"> {{element.grievanceNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="schemeName">
                <th mat-header-cell *matHeaderCellDef> Scheme </th>
                <td mat-cell *matCellDef="let element"> {{element.schemeName}} </td>
            </ng-container>
            <ng-container matColumnDef="ministryName">
                <th mat-header-cell *matHeaderCellDef> Ministry </th>
                <td mat-cell *matCellDef="let element"> {{element.ministryName}} </td>
            </ng-container>

            <ng-container matColumnDef="stateName">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
            </ng-container>

            <ng-container matColumnDef="districtName">
                <th mat-header-cell *matHeaderCellDef> District </th>
                <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
            </ng-container>

            <ng-container matColumnDef="blockNameName">
                <th mat-header-cell *matHeaderCellDef> Block  </th>
                <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
            </ng-container>

            <ng-container matColumnDef="villageName">
                <th mat-header-cell *matHeaderCellDef> Village  </th>
                <td mat-cell *matCellDef="let element"> {{element.villageName}} </td>
            </ng-container>

            <ng-container matColumnDef="panchayatName">
                <th mat-header-cell *matHeaderCellDef> Panchayat  </th>
                <td mat-cell *matCellDef="let element"> {{element.villageName}} </td>
            </ng-container>

            <ng-container matColumnDef="pinCode">
                <th mat-header-cell *matHeaderCellDef> Pin Code </th>
                <td mat-cell *matCellDef="let element"> {{element.pinCode}} </td>
            </ng-container>


            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description (Source language) </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

        <ng-container matColumnDef="Transcript">
                <th mat-header-cell *matHeaderCellDef> Transcript (In English) </th>
                <td mat-cell *matCellDef="let element"> {{element.translatedDesc}} </td>
            </ng-container>

            <ng-container matColumnDef="attachment">
                <th mat-header-cell *matHeaderCellDef> Attachment </th>

                <td mat-cell *matCellDef="let element">
                    <!-- If file exists -->
                    <ng-container *ngIf="element.fileName; else noPdf">
                        <a href="javascript:void(0)"  (click)="openAttachment(element.fileName)"
                            download title="{{ element.fileName }}" matTooltip="View File">
                            <i class="bi bi-download pdfIcon"></i>
                        </a>
                    </ng-container>

                    <!-- Else part -->
                    <ng-template #noPdf>
                        <span>No PDF</span>
                    </ng-template>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
       </div>
       <!-- chat-section -->
    <div class="row mt-3">
        <div class="col-md-12 mx-auto">
            <div class="chat-card chat-wrapper">

                <!-- Header -->
                <div class="chat-header sticky">
                    <strong> Action taken by Admin / Program Division (PD)</strong>
                </div>

                <!-- Chat Body -->
                <div class="chat-body chat-body-scroll" *ngIf="commentsAttachments?.length > 0; else noMessages"
                    [style.height]="commentsAttachments?.length > 1 ? '350px' : 'auto'"
                    [style.overflowY]="commentsAttachments?.length > 1 ? 'auto' : 'hidden'">

                    <div class="chat-message" *ngFor="let item of commentsAttachments" [ngClass]="{
                        'chat-right': item.commentsBy === 'ADMIN',
                        'chat-left': item.commentsBy !== 'ADMIN'
                    }">

                        <div class="message-bubble">
                            <div class="sender-name">
                                <div class="send"
                                    [ngStyle]="{ 'color': item.commentsBy === 'ADMIN' ? 'green' : 'brown' }">
                                    {{ item.commentsBy
                                    }}</div>
                                <div class="message-footer">
                                    <small>
                                        {{ item.createdOn | date:'dd MMM yyyy, hh:mm a' }}
                                    </small>
                                </div>
                            </div>
                            <!-- Comment -->
                            <p class="mb-1">{{ item.comments }}</p>

                            <!-- File -->
                            <a *ngIf="item.fileName !== 'No File Attached'" href="javascript:void(0)" class="file-link">
                                <div class="pdfIcon" (click)="openAttachment(item.fileName)">
                                    <i class="bi bi-download"></i>
                                </div>
                            </a>



                            <!-- Footer -->


                        </div>
                    </div>

                </div>
                <ng-template #noMessages>
                    <div class="no-message">
                        No comments yet for this grievance.
                    </div>
                </ng-template>


            </div>
        </div>
    </div>

<!-- form section -->
    <div class="m-0 p-0 mt-3 section-fixed" *ngIf="grievanceStatus !== 'C'">
        <form [formGroup]="feedbackForm">
            <div class="row mb-3 align-items-end">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Enter Action Taken by the {{this.userName}}</label>
                    <textarea class="form-control" maxlength="1000" rows="3" maxlength="1000"
                        formControlName="citizenComment" name="citizenComment"></textarea>
                    <small class="text-muted d-block text-end">
                        {{ feedbackForm.get('citizenComment')?.value?.length || 0 }} / 1000
                    </small>
                      <mat-error *ngIf="(f['citizenComment'].touched || isSubmitted) && f['citizenComment'].invalid">
                            Comments is required
                    </mat-error>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" (selectionChange)="selectedStatus($event)">
                            <mat-option *ngFor="let status of officeStatusDetails" [value]="status.statusCode">
                                {{ status.status}}</mat-option>
                        </mat-select>
                         <mat-error *ngIf="(f['status'].touched || isSubmitted) && f['status'].invalid">
                            Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <label>Attachment</label>

                    <div class="d-flex align-items-center gap-2">
                        <!-- Hidden file input -->
                        <input type="file" hidden #fileInput (change)="checkUpLoadedAttachmentFormat($event, '1')"
                            accept=".jpg,.jpeg,.png,.pdf" />

                        <!-- Choose File button (show only if no file selected) -->
                        <button *ngIf="!fileName" mat-stroked-button color="primary" type="button"
                            (click)="fileInput.click()">
                            Choose File
                        </button>

                        <!-- File name + clear button -->
                        <ng-container *ngIf="fileName">
                            <span class="text-truncate">{{ fileName }}</span>

                            <!-- Clear (cross) button -->
                            <button mat-icon-button color="warn" type="button" aria-label="Remove file"
                                (click)="clearFile(fileInput)" matTooltip="Close">
                                <mat-icon>close</mat-icon>
                            </button>
                            <button style="background-color: #0d5db940;" mat-icon-button color="primary"
                                        type="button" aria-label="Preview file" (click)="previewSelectedFile()" matTooltip="Preview">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                        </ng-container>
                    </div>

                    <mat-hint>Only JPEG / PNG / PDF files allowed (Max 10 MB).</mat-hint>
                </div>
                <div class="col-md-5">
                    <mat-form-field appearance="outline" class="w-100 mb-3" *ngIf="showForwardFields">
                        <mat-label>Select Scheme Type</mat-label>
                        <mat-select formControlName="schemeType" (selectionChange)="selectedschemeList($event)">
                            <mat-option *ngFor="let scheme of getschemeList" [value]="scheme.schemeCode">
                                {{ scheme.schemeName}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <mat-dialog-actions>
                <button mat-raised-button (click)="submitFeedback()" class=" btn-glow btn-blue "> Submit
                </button>
                <button mat-raised-button color="primary"  [mat-dialog-close]="'reload'" class="btn-glow btn-red">
                    Close
                </button>
            </mat-dialog-actions>
        </form>
    </div>

</mat-dialog-content>