<h2 mat-dialog-title style="background-color: #c1ddff; color: #1d55a1;">
    {{ title | titlecase }}
</h2>


<div mat-dialog-content class="dialog-wrap">
    <ng-container [ngSwitch]="type">

        <div *ngSwitchCase="'terms'">
            <p>This website is Designed, Developed and Maintained by National Informatics Centre, Department of
                Information Technology (Ministry of Communications and Information Technology) for the Ministry of Rural
                Development, Govt. of India.

                These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any
                dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of
                India.

                The information posted on this website could include hypertext links or pointers to information created
                and maintained by non-Government/private organisations. National Informatics Centre is providing these
                links and pointers solely for your information and convenience. When you select a link to an outside
                website, you are leaving the 'BII' site and are subject to the privacy and security policies of the
                owners/sponsors of the outside website.
            </p>
        </div>

        <div *ngSwitchCase="'privacy'">
            <p> MoRD Website does not automatically capture any specific personal information from you, (like name, phone
                number or e-mail address), that allows us to identify you individually. This website records your visit
                and logs the following information for statistical purposes, such as Internet protocol (IP) addresses,
                domain name, server's address; name of the top-level domain from which you access the Internet (for
                example, .gov, .com, .in, etc.), browser type, operating system, the date and time of the visit, the
                pages you have accessed, the documents downloaded and the previous Internet address from which you
                linked directly to the site. We make no attempt to link these addresses with the identity of individuals
                visiting our site unless an attempt to damage the site has been detected. We will not identify users or
                their browsing activities, except when a law enforcement agency may exercise a warrant to inspect the
                service provider's logs. If the MoRD Website requests you to provide personal information, you will be
                informed for the particular purposes for which the information is gathered, and adequate security
                measures will be taken to protect your personal information. MoRD does not sell or share any personally
                identifiable information volunteered on the MoRD Website to any third party (public/private). Any
                information provided to this website will be protected from loss, misuse, unauthorized access or
                disclosure, alteration, or destruction.</p>
            <p>
                <span class="sortlink-title">Cookies</span><br>
                A cookie is a piece of software code that an Internet website sends to your browser when you access
                information in that site. This site does not use cookies.
            </p>
            <p>
                <span class="sortlink-title">E-mail Management</span><br>
                Your e-mail address will only be recorded if you choose to send a message. It will only be used for the
                purpose for which you have provided it and will not be added to a mailing list. Your e-mail address will
                not be used for any other purpose and will not be disclosed without your consent. Collection of Personal
                Information If you are asked for any other Personal Information you will be informed how it will be used
                if you choose to give it. If at any time you believe the principles referred to in this privacy
                statement have not been followed, or have any other comments on these principles, please notify the Web
                Information Manager by sending email to [yash[dot]pal[dot]dopt[at]nic[dot]in]
            </p>

            <p><strong>Note:</strong> The use of the term "Personal Information" in this privacy statement refers to any
                information from which your identity is apparent or can be reasonably ascertained.</p>

            <p>
                <span class="sortlink-title">Reasonable Security Practices</span><br>
                Reasonable security measures such as administrative, technical, operational and physical controls have
                been implemented to ensure the security of personal information, if collected.
            </p>
        </div>

        <div *ngSwitchCase="'hyperlink'">
            <span class="sortlink-title">Reasonable Security Practices</span><br>
            <p> At many places in this website, you shall find links to other websites/portals. The links have been
                placed for your convenience.
                MoRD is not responsible for the contents and reliability of the linked websites and does not necessarily
                endorse the views expressed in them.
                Mere presence of the link or its listing on this Portal should not be assumed as endorsement of any
                kind. We cannot guarantee that these links will work all the time and we have no control over
                availability of linked pages. When you select a link to an outside website, you are leaving the MoRD
                website and are subject to the privacy and security policies of the owners/sponsors of the outside
                website. MoRD cannot authorize the use of copyrighted materials contained in linked websites. Users are
                advised to request such authorization from the owner of the linked website. MoRD does not guarantee that
                linked websites comply with Indian Government Web Guidelines.<br><br>
                Links to MoRD website by other websites We do not object to you linking directly to the information that
                is hosted on this site and no prior permission is required for the same. However, we would like you to
                inform us about any links provided to this Portal so that you can be informed of any changes or
                updations therein. Also, we do not permit our pages to be loaded into frames on your site. The pages
                belonging to this site must load into a newly opened browser window of the User.</p>
        </div>

        <div *ngSwitchCase="'copyright'">
            <p>Material featured on this website may be reproduced free of charge. However, the material has to be
                reproduced accurately and not to be used in a derogatory manner or in a misleading context. Wherever the
                material is being published or issued to others, the source must be prominently acknowledged. However,
                the permission to reproduce this material shall not extend to any material, which is identified as being
                copyright of a third party. Authorization to reproduce such material must be obtained from the
                departments/copyright holders concerned.
                <br><br>
                Extracts of the information in the website may be reviewed, reproduced or translated for research or
                private study but not for sale or for use in conjunction with commercial purposes. Any use of
                information in the website should be accompanied by an acknowledgement of MoRD as the source, citing the
                uniform resource locator (URL) of the article/page. Reproduction or translation of substantial portions
                of the website, or any use other than for educational or other non-commercial purposes, requires
                explicit, prior authorization in writing.
            </p>
        </div>

        <div *ngSwitchCase="'accessibility'">
            <p> We are committed to ensure that the Ministry of Rural Development website is accessible to all users
                irrespective of device in use, technology or ability. It has been built, with an aim, to provide maximum
                accessibility and usability to its visitors. As a result this website can be viewed from a variety of
                devices such as Desktop / Laptop Computers, Web-enabled mobile devices; etc.
                <br><br>
                We have put in our best efforts to ensure that all information on this website is accessible easily. We
                also aim to be standards compliant and follow principles of usability and universal design, which should
                help all visitors of this website.
                <br><br>
                If you have any problem or suggestion regarding the accessibility of this website, please contact us to
                enable us to respond in a helpful manner. Do let us know the nature of the problem along with your
                contact information.
            </p>
        </div>

        <div *ngSwitchCase="'disclaimer'">
            <p>This web site is brought to you by the Ministry of Rural Development (MoRD). While surfing through this
                site you will come across directories and links to Government and Private Organizations. The contents of
                these sites are not to be construed as a responsibility of or an endorsement by the Authority and are
                owned by the respective organizations which may be contacted for any further information or suggestion.
            </p>
            <span class="sortlink-title">e-Payment Policy</span><br>
            <p>The information related to financial releases and funds transfer for Write to RD Minister is being
                sourced from PFMS systems and the information provided on the MoRD website is as per the information
                received from PFMS as on date and details reported by States.</p>
            <span class="sortlink-title">Language Translation</span><br>
            <p>The website has been translated for your convenience using translation software powered by BHASINI.The
                official text is the English version of the website. Any discrepancies or differences created in the
                translation are not binding and have no legal effect for compliance or enforcement purposes. If any
                questions arise related to the accuracy of the information contained in the translated website, refer to
                the English version of the website which is the official version.</p>
        </div>

        <!-- <div *ngSwitchCase="'services'">
            <p>List of Write to RD Minister Most Often Used Services</p>
            <span class="sortlink-title">Online Registration/Application for Pension</span><br>
            <ul>
                <li><a href="ledgerHistroy.do?method=intialize" target="_blank">Track Pension Payment Status</a></li>
            </ul>
            
        </div> -->

        <p *ngSwitchCase="'help'">
            Help related content...
        </p>

        <div *ngSwitchCase="'feedback'">
            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()" style="margin-top: 20px;">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100" >
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="feedbackForm.get('name')?.errors?.['required'] && feedbackForm.get('name')?.errors">
                                Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="feedbackForm.get('email')?.errors?.['required'] && feedbackForm.get('email')?.errors">
                                Enter valid email
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput appNumberOnly formControlName="mobile" maxlength="10" minlength="10">
                        <mat-error *ngIf="(feedbackForm.get('mobile')?.touched) && feedbackForm.get('mobile')?.errors">
                                    <ng-container *ngIf="feedbackForm.get('mobile')?.errors?.['required']">
                                    Mobile No is required
                                    </ng-container>
                                    <ng-container *ngIf="feedbackForm.get('mobile')?.errors?.['pattern']">
                                    Mobile number must start with 6, 7, 8, or 9 and be 10 digits
                                    </ng-container>
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Subject</mat-label>
                            <input matInput formControlName="subject">
                            <mat-error *ngIf="(feedbackForm.get('subject')?.touched) && feedbackForm.get('subject')?.errors">
                                Subject is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Feedback</mat-label>
                    <textarea matInput rows="3" formControlName="message"></textarea>
                    <mat-error *ngIf="(feedbackForm.get('message')?.touched) && feedbackForm.get('message')?.errors">
                        Feedback is required
                    </mat-error>
                </mat-form-field>

                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 col-sm-4 d-flex mb-4 gap-2 justify-content-start align-items-left">
                        <div  class="captcha-box d-flex align-items-center justify-content-center">
                            <img 
                                *ngIf="captchaImageSrc"
                                [src]="captchaImageSrc"
                                alt="Captcha"
                                class="img-fluid"
                                style="height: 100%; width: 100%; border-radius: 5px;"
                                />
                        </div>
                        <div class="captcha-refresh-button d-flex">
                            <a type="button" class="" (click)="speakCaptcha()" title="Hear Captcha">
                                <i class="bi bi-volume-up-fill"></i>
                            </a>
                            <a mat-icon-button (click)="reload()">
                                <mat-icon>refresh</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Captcha</mat-label>
                            <input matInput type="text" formControlName="captcha" maxlength="6" autocomplete="off">
                            <mat-error *ngIf="f['captcha']?.touched && f['captcha']?.invalid">
                                Captcha is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-end mt-3" mat-dialog-actions align="end">
                    <button mat-raised-button color="primary" type="submit" class="btn-glow btn-blue" [disabled]="feedbackForm.invalid">
                        Submit
                    </button>
                    <button mat-button mat-dialog-close class="btn-glow btn-red">Close</button>
                </div>

            </form>
        </div>

        <p *ngSwitchDefault>
            No content available
        </p>

    </ng-container>
</div>

<div mat-dialog-actions align="end" *ngIf="this.type !== 'feedback'">
    <button mat-button mat-dialog-close>Close</button>
</div>