<div class="sidebar shadow-lg">
  <div class="sidebar-header">
    <!-- <img src="../../../../assets/images/logo_wtm.png" alt="Logo" class="sidebar-logo" /> -->
     <img src="assets/images/logo_wtm.png" alt="WTM Logo" class="logo img-thumbnail" />
    <h3 class="text-white">Write To Minister</h3>
  </div>

  <ul class="sidebar-menu">
    <li *ngFor="let item of menu">
      <!-- Normal menu item -->
      <ng-container *ngIf="!item.children; else hasChildren">
        <a 
          [routerLink]="[item.routerLink]" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center gap-2"
        >
          <i [class]="item.icon + ' fa-fw'" [style.color]="item?.color"></i>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>

      <!-- Dropdown menu -->
      <ng-template #hasChildren>
        <a href="javascript:void(0)" (click)="item.expanded = !item.expanded" class="flex items-center gap-2">
          <i [class]="item.icon + ' fa-fw'" [style.color]="item?.color"></i>
          <span>{{ item.label }}</span>
          <i class="fa fa-chevron-down ml-auto" [class.rotate]="item.expanded"></i>
        </a>
        <ul class="submenu" *ngIf="item.expanded">
          <li *ngFor="let child of item.children">
            <a 
              [routerLink]="[child.routerLink]" 
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{ exact: true }"
              class="flex items-center gap-2"
            >
              <i [class]="child.icon + ' fa-fw'" [style.color]="child?.color"></i>
              <span>{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>
  </div>
