.footer {
  left: 260px;
  right: 0;
  background-image: linear-gradient(to right, #f7f7f7, #f2f6f7);;
  padding: 0 32px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 400;
  display: flex;
    justify-content: center;
    align-items: center;
}

footer p{margin-bottom: 5px; color: #165cad;}

@media (max-width: 768px) {
.footer {
    left: 0;
  }
}