<div class="row">
  <h4>Dashboard</h4>
</div>
<section class="dashboard-container">
  <div class="row g-3">
    <div class="col-md-6 col-lg-3" >
      <div class="card-box" (click)="goToGrievanceList('T')" style="cursor: pointer;">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <div class="card-header">Total Register</div>
            <div class="card-value">
            {{citzenDetails?.totalRegistered }}
          </div>
          </div>
          <!-- <div class="card-icon">{{ c.icon }}</div> -->
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-3" >
              <div class="card-box" (click)="goToGrievanceList('C')" style="cursor: pointer;">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                  <div class="card-header">Completed</div>
                  <div class="card-value">{{ citzenDetails?.completed }}</div>
                </div>
                <!-- <div class="card-icon">{{ c.icon }}</div> -->
              </div>
            </div>
      </div>

          <div class="col-md-6 col-lg-3" >
              <div class="card-box" (click)="goToGrievanceList('U')" style="cursor: pointer;">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                  <div class="card-header">Under Process</div>
                  <div class="card-value">{{ citzenDetails?.underProcess }}</div>
                </div>
                <!-- <div class="card-icon">{{ c.icon }}</div> -->
              </div>
            </div>
      </div>

  </div>
</section>

<div class="container-fluid py-3  ">
  <div class="row mt-5">
    <div class="col-6">
      <div id="chart-column"></div>
    </div>
    <div class="col-6">
      <div id="chart-pie"></div>
    </div>
  </div>
  <!-- <div class="row mt-5">
   <div class="col-6">
      <div id="chart-gauge"></div>
    </div>
    <div class="col-6">
      <div id="chart-line"></div>
    </div>
  </div> -->
</div>