<section class="client-logos py-2">
    <div class="container-fluid">
        <!-- <div class="logo-slider">
            @for (logo of logos; track $index) {
            <div>
                <img [src]="logo" alt="logo" />
            </div>
            }
        </div> -->

        <div class="container-fluid">
            <div class="logo-carousel">
                <div class="logo-track">
                    @for (logo of logos; track $index) {
                    <div class="logo-item">
                        <img [src]="logo" alt="logo">
                    </div>
                    }
        
                    <!-- duplicate for infinite effect -->
                    @for (logo of logos; track 'dup-' + $index) {
                    <div class="logo-item">
                        <img [src]="logo" alt="logo">
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>

<section class="sortlink">
        <div class="container-fluid">

        <div class="row align-items-center">
    <ul>
  <li (click)="openDialog('terms', 'Terms and conditions')">Terms & Conditions</li>
  <li (click)="openDialog('privacy', 'Privacy Policy')">Privacy Policy</li>
  <li (click)="openDialog('hyperlink', 'Hyperlinking Policy')">Hyperlink Policy</li>
  <li (click)="openDialog('copyright', 'Copyright Policy')">Copyright Policy</li>
  <li (click)="openDialog('accessibility', 'Accessibility Statement')">Accessibility Statement</li>
  <li (click)="openDialog('disclaimer', 'Disclaimer')">Disclaimer</li>
  <li (click)="openDialog('services', 'Most Often Used Services')">Most Often Used Services</li>
  <li (click)="openDialog('help', 'Help')">Help</li>
  <li (click)="openDialog('feedback', 'Feedback')">Feedback</li>
</ul>
    </div>
    </div>
 </section>

<footer class="footer ">
    <div class="container-fluid">

        <div class="row align-items-center">
    <!-- <div class="container text-center text-white ">
        <div class="mb-2">Write to Rural Development Minister — A grievance Redressel system for citizens</div>
        <div>© 2025 Designed & Developed by NIC</div>
    </div> -->


<div class="log col-md-4" style="text-align: left;">
    <img  src="assets/images/nic-blue.png" alt="WTM Logo" class="logo img-thumbnail footer-logo" />
  </div>
  <div class="col-md-5">
  <p class="m-0" style="font-size: 12px; line-height: 15px;">Content owned, updated and maintained by Ministry of Rural Development | GoI<br>
Write to RD Minister platform is designed, developed and hosted by National Informatics Centre( NIC )</p>

  </div>

  <div class="col-md-3"></div>
  </div>
  </div>
</footer>
