.dialog-text {
  font-size: 14px;
  line-height: 1.6;
  color: #374151;
  margin-bottom: 12px;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 16px;
}
.sortlink-title{font-weight: 600;}

.captcha-img {
    height: 50px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[mat-icon-button] {
    height: 50px !important;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.captcha-refresh-button a {
           background: linear-gradient(45deg, #3c63c7, #99aeff);
    border-radius: 5px;
    height: 55px !important;
    margin-right: 5px;
    border: 1px solid #ffffff !important;

    color: #fff;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.captcha-refresh-button .mat-icon {
    color: #ffffff;
}

.captcha-box {
    width: 200px;
    /* width of captcha box */
    height: 57px;
    /* height of captcha box */
    border: 2px solid #ccc;
    /* border color */
    border-radius: 8px;
    /* rounded corners */
    background-color: #f9f9f9;
    /* light background */
    font-family: 'Courier New', monospace;
    /* captcha-like font */
    font-size: 28px;
    /* size of captcha text */
    font-weight: bold;
    letter-spacing: 4px;
    /* space between letters */
    color: #333;
    /* text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
    user-select: none;
    /* prevent text selection */
    cursor: default;
    position: relative;
    overflow: hidden;
}

/* Optional: add some noise lines */
.captcha-box::before,
.captcha-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    top: 30%;
    left: 0;
    transform: rotate(10deg);
}

.captcha-box::after {
    top: 60%;
    transform: rotate(-10deg);
}


@media (max-width: 500px){
  .sortlink ul{flex-wrap: wrap;}
}
.dialog-wrap p{
  font-size: 1rem;    
  line-height: 1.7;
}