.font-18 {
  font-size: 15px;
  margin: 0px;
  line-height: 1.2;
  font-weight: 600;
}

.font-13 {
  font-size: 12px;
  margin: 0px;
  line-height: 1.2;
}

/* Wrapper */
.nav-item.skip-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-collapse {
  display: none;
}

.navbar-collapse.open {
  display: block;
}



