<header class="govt-top-band">
    <div class="container-fluid d-flex justify-content-between align-items-center py-1">
        <div class="d-flex align-items-center govt-left">
            <img src="../assets/images/emblem.png" alt="Emblem of India" height="65" class="me-2" />
            <!-- <span class="govt-text">Government of India</span> -->
            <div>
                <h5 class="font-18">ग्रामीण विकास मंत्रालय</h5>
                <h5 class="font-13">भारत सरकार</h5>
                <h5 class="font-18">MINISTRY OF RURAL DEVELOPMENT</h5>
                <h5 class="font-13">GOVERNMENT OF INDIA</h5>
            </div>

        </div>
        <nav aria-label="Utility">
            <ul class="nav justify-content-lg-end justify-content-center gap-3">
                <li class="nav-item skip-main" style="z-index: 9999;">
                    <div class="bhashini-plugin-container"></div>
                </li>
                <li class="nav-item skip-main">
                    <a class="nav-link p-0 skip-btn" role="link" title="Skip to main content" href="javascript:void(0)"
                        (click)="skipToMain()">
                        <img src="../assets/images/smc.svg" alt="Skip to main content" height="24" />
                    </a>
                </li>
                <!-- <li class="nav-item skip-main"><a class="nav-link p-0 skip-btn"  role="link" (click)="toggleFontMenu()" title="accessibility">
                        <img src="../assets/images/srg.svg" alt="accessibility" height="24" />
                    </a>

                     <div class="font-menu" *ngIf="showFontMenu">
                    <button (click)="fontIncrease()">A+</button>
                    <button (click)="fontNormal()">A</button>
                    <button (click)="fontDecrease()">A-</button>
                </div>
                </li> -->

                
                <li class="nav-item skip-main social-menu">
                    <a class="nav-link p-0 skip-btn" [matMenuTriggerFor]="socialMenu" matTooltip="Social Media" role="link" title="social-media">
                        <img src="../assets/images/social-media.png" alt="social-media" height="24" />
                    </a>
                    <mat-menu #socialMenu="matMenu" yPosition="below" xPosition="after">
                        <button mat-menu-item class="social-item facebook">
                            <i class="fab fa-facebook-f me-2"></i> Facebook
                        </button>
                        <button mat-menu-item class="social-item twitter">
                            <i class="fab fa-twitter me-2"></i> Twitter
                        </button>
                        <button mat-menu-item class="social-item youtube">
                            <i class="fab fa-youtube me-2"></i> YouTube
                        </button>
                        <button mat-menu-item class="social-item instagram">
                            <i class="fab fa-instagram me-2"></i> Instagram
                        </button>
                    </mat-menu>
                </li>

                <li class="nav-item skip-main" style="z-index: 99999;">
                    <a class="nav-link p-0 skip-btn" routerLink="/sitemap" matTooltip="Screen Reader Guide" role="link"
                        title="Screen Reader Guide">
                        <img src="../assets/images/accessibility.svg" alt="Screen Reader Guide" />
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<nav class="navbar navbar-expand-lg main-nav sticky-top" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-3" href="#">
            <img src="assets/images/logo_wtm.png" alt="WTM Logo" class="logo img-thumbnail" />
            <div>
                <div class="brand-title">
                    Write To <span class="d-none d-md-inline-block">Rural Development</span>
                    <span class="d-inline d-md-none">RD</span> Minister
                </div>
                <small class="brand-sub">A Grievance Redressel System For Citizens</small>
            </div>
        </a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link active" [routerLink]="['/']">Home</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/graviance-register']">Citizen Registration</a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Status of Grievance</a></li> -->
            </ul>
            <a [routerLink]="['/login']" class="btn login-btn ms-lg-3">Login</a>
        </div>
    </div>
</nav>